@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Raleway", sans-serif;
}

/* TailWind Css And DaisyUI css Import */
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #4681f7;
  --color-secondary: #161a24;
  --color-accent: #65cfa9;
  --color-base-200: #0b0b0b;
}

/* Footer Social Icon Css */
.icon {
  @apply w-8 h-8  rounded-full flex justify-center items-center;
}

/* Navbar Profile Item Css */
.profileItem {
  @apply flex items-center gap-3 hover:text-[#ffffffbf] cursor-pointer duration-200;
}
.footerContactInfo {
  @apply flex items-center gap-3 cursor-pointer duration-200;
}

/* Form Label Css for Add lesson page form */
.label2 {
  @apply text-black text-[16px] mt-5;
}

/* Main Button CSS */
.button-main {
  @apply font-semibold py-4 px-10 rounded-lg bg-primary cursor-pointer mt-10  text-white capitalize;
}

.input,
.textarea,
.select {
  @apply outline-0 border-0 shadow;
}

.inputImg {
  max-width: 190px;
  display: none;
}

.labelFileImg {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 200px;
  border: 2px dashed #ccc;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  padding: 10px;
  color: #0b0b0b;
  cursor: pointer;
}
