@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Raleway", sans-serif;
}
.numberFont {
  font-family: "Lato", sans-serif;
}

/* TailWind Css And DaisyUI css Import */
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #4681f7;
  --color-secondary: #161a24;
  --color-accent: #65cfa9;
  --color-base-200: #0b0b0b;
}

/* Footer Social Icon Css */
.icon {
  @apply w-8 h-8  rounded-full flex justify-center items-center;
}

/* Navbar Profile Item Css */
.profileItem {
  @apply flex items-center gap-3 hover:text-[#ffffffbf] cursor-pointer duration-200;
}
.footerContactInfo {
  @apply flex items-center gap-3 cursor-pointer duration-200;
}

/* Form Label Css for Add lesson page form */
.label2 {
  @apply text-black text-[16px] mt-5;
}

/* Main Button CSS */
.button-main {
  @apply font-semibold py-4 px-10 rounded-lg bg-primary cursor-pointer mt-10  text-white capitalize;
}

/* Input filed css for all input filed in this application */
.input,
.textarea,
.select {
  @apply outline-0 border-0 shadow;
}

/* Input image filed css for Add lesson Image filed */
.inputImg {
  max-width: 190px;
  display: none;
}

.labelFileImg {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 200px;
  border: 2px dashed #ccc;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  padding: 10px;
  color: #0b0b0b;
  cursor: pointer;
}

/* Custom Zebra fom my lesson page table  */
.my-custom-zebra tbody tr:nth-child(odd) {
  background-color: transparent !important;
}

.my-custom-zebra tbody tr:nth-child(even) {
  background-color: #65cfa813 !important;
}


/* My lesson action button css */
.actionBtn{
  @apply btn bg-transparent btn-square hover:bg-primary border-0 shadow hover:text-white
}